In [13]:
import pandas as pd

In [14]:
# The path to our CSV file
file = "us_wines.csv"
# Read our Crowdfunding data into pandas
df_usa = pd.read_csv(file)

df_usa.head()

,Unnamed: 0,brand,vintage,rating,price,num_ratings,location
0,0,Adeptos,Reserve Cabernet Sauvignon 2018,4.2,32.99,84,"Napa Valley, United States"
1,1,Vinium,Reserve Cabernet Sauvignon 2018,4.3,34.99,86,"Napa Valley, United States"
2,2,Dolum Estates,Cask 28 Cabernet Sauvignon 2019,4.4,34.99,80,"Stags Leap District, United States"
3,3,Sling & Spear,Cabernet Sauvignon 2018,4.3,44.99,110,"Oakville, United States"
4,4,St. Clement,Johanna Cabernet Sauvignon 2019,4.1,24.99,163,"Knights Valley, United States"

In [15]:
# The path to our CSV file
file = "non_us_wines.csv"
# Read our Crowdfunding data into pandas
df_inter = pd.read_csv(file)

df_inter.head()

,Unnamed: 0,brand,vintage,rating,price,num_ratings,location
0,0,Vega Sicilia,Unico 2010,4.8,455.00,1499,"Ribera del Duero, Spain"
1,1,Casanova di Neri,Cerretalto Brunello di Montalcino 2016,4.8,420.00,141,"Brunello di Montalcino, Italy"
2,2,Brunelli,Campo Inferi Amarone della Valpolicella Classi...,4.8,64.99,48,"Amarone della Valpolicella Classico, Italy"
3,3,Dominio de Cair,Pendón De La Aguilera 2011,4.8,219.99,45,"Ribera del Duero, Spain"
4,4,Château Gilette,Sauternes (Crème de Tête) 1997,4.8,384.99,37,"Sauternes, France"

In [16]:
df2 = df_usa
df2 = df2['location'].str.split(',', expand=True)

In [17]:
df2

                       0               1
0            Napa Valley   United States
1            Napa Valley   United States
2    Stags Leap District   United States
3               Oakville   United States
4         Knights Valley   United States
..                   ...             ...
545   Santa Maria Valley   United States
546       Ballard Canyon   United States
547          Napa Valley   United States
548          Napa Valley   United States
549           St. Helena   United States

[550 rows x 2 columns]

In [18]:
df2 = df2.rename(columns={0 : "region", 1 : "country"})
df2

                  region         country
0            Napa Valley   United States
1            Napa Valley   United States
2    Stags Leap District   United States
3               Oakville   United States
4         Knights Valley   United States
..                   ...             ...
545   Santa Maria Valley   United States
546       Ballard Canyon   United States
547          Napa Valley   United States
548          Napa Valley   United States
549           St. Helena   United States

[550 rows x 2 columns]

In [19]:
df_usa = df_usa.join(df2)
df_usa

,Unnamed: 0,brand,vintage,rating,price,num_ratings,location,region,country
0,0,Adeptos,Reserve Cabernet Sauvignon 2018,4.2,32.99,84,"Napa Valley, United States",Napa Valley,United States
1,1,Vinium,Reserve Cabernet Sauvignon 2018,4.3,34.99,86,"Napa Valley, United States",Napa Valley,United States
2,2,Dolum Estates,Cask 28 Cabernet Sauvignon 2019,4.4,34.99,80,"Stags Leap District, United States",Stags Leap District,United States
3,3,Sling & Spear,Cabernet Sauvignon 2018,4.3,44.99,110,"Oakville, United States",Oakville,United States
4,4,St. Clement,Johanna Cabernet Sauvignon 2019,4.1,24.99,163,"Knights Valley, United States",Knights Valley,United States
...,...,...,...,...,...,...,...,...,...
545,545,Foxen,Block 8 Pinot Noir (Bien Nacido Vineyard) 2017,4.4,59.90,70,"Santa Maria Valley, United States",Santa Maria Valley,United States
546,546,Jonata,La Sangre de Jonata 2009,4.4,160.60,70,"Ballard Canyon, United States",Ballard Canyon,United States
547,547,Arietta,Quartet 2019,4.4,73.99,69,"Napa Valley, United States",Napa Valley,United States
548,548,Alpha Omega,Proprietary Red 2019,4.4,159.99,68,"Napa Valley, United States",Napa Valley,United States
549,549,Salvestrin,Cabernet Sauvignon Dr. Crane Vineyard Three D ...,4.4,169.99,67,"St. Helena, United States",St. Helena,United States

In [20]:
df_usa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   550 non-null    int64
 1   brand        550 non-null    object
 2   vintage      550 non-null    object
 3   rating       550 non-null    float64
 4   price        550 non-null    float64
 5   num_ratings  550 non-null    int64
 6   location     550 non-null    object
 7   region       550 non-null    object
 8   country      550 non-null    object
dtypes: float64(2), int64(2), object(5)
memory usage: 38.8+ KB

In [21]:
df_usa = df_usa.drop("location", axis=1)
df_usa

,Unnamed: 0,brand,vintage,rating,price,num_ratings,region,country
0,0,Adeptos,Reserve Cabernet Sauvignon 2018,4.2,32.99,84,Napa Valley,United States
1,1,Vinium,Reserve Cabernet Sauvignon 2018,4.3,34.99,86,Napa Valley,United States
2,2,Dolum Estates,Cask 28 Cabernet Sauvignon 2019,4.4,34.99,80,Stags Leap District,United States
3,3,Sling & Spear,Cabernet Sauvignon 2018,4.3,44.99,110,Oakville,United States
4,4,St. Clement,Johanna Cabernet Sauvignon 2019,4.1,24.99,163,Knights Valley,United States
...,...,...,...,...,...,...,...,...
545,545,Foxen,Block 8 Pinot Noir (Bien Nacido Vineyard) 2017,4.4,59.90,70,Santa Maria Valley,United States
546,546,Jonata,La Sangre de Jonata 2009,4.4,160.60,70,Ballard Canyon,United States
547,547,Arietta,Quartet 2019,4.4,73.99,69,Napa Valley,United States
548,548,Alpha Omega,Proprietary Red 2019,4.4,159.99,68,Napa Valley,United States
549,549,Salvestrin,Cabernet Sauvignon Dr. Crane Vineyard Three D ...,4.4,169.99,67,St. Helena,United States

In [22]:
df_usa = df_usa.drop("Unnamed: 0", axis=1)
df_usa

,brand,vintage,rating,price,num_ratings,region,country
0,Adeptos,Reserve Cabernet Sauvignon 2018,4.2,32.99,84,Napa Valley,United States
1,Vinium,Reserve Cabernet Sauvignon 2018,4.3,34.99,86,Napa Valley,United States
2,Dolum Estates,Cask 28 Cabernet Sauvignon 2019,4.4,34.99,80,Stags Leap District,United States
3,Sling & Spear,Cabernet Sauvignon 2018,4.3,44.99,110,Oakville,United States
4,St. Clement,Johanna Cabernet Sauvignon 2019,4.1,24.99,163,Knights Valley,United States
...,...,...,...,...,...,...,...
545,Foxen,Block 8 Pinot Noir (Bien Nacido Vineyard) 2017,4.4,59.90,70,Santa Maria Valley,United States
546,Jonata,La Sangre de Jonata 2009,4.4,160.60,70,Ballard Canyon,United States
547,Arietta,Quartet 2019,4.4,73.99,69,Napa Valley,United States
548,Alpha Omega,Proprietary Red 2019,4.4,159.99,68,Napa Valley,United States
549,Salvestrin,Cabernet Sauvignon Dr. Crane Vineyard Three D ...,4.4,169.99,67,St. Helena,United States

In [23]:
df3 = df_inter
df3 = df3['location'].str.split(',', expand=True)
df3

                                       0          1
0                       Ribera del Duero      Spain
1                 Brunello di Montalcino      Italy
2    Amarone della Valpolicella Classico      Italy
3                       Ribera del Duero      Spain
4                              Sauternes     France
..                                   ...        ...
545                               Barolo      Italy
546                  Châteauneuf-du-Pape     France
547                                Porto   Portugal
548                            Champagne     France
549                              Pomerol     France

[550 rows x 2 columns]

In [24]:
df3 = df3.rename(columns={0 : "region", 1 : "country"})
df3

                                  region    country
0                       Ribera del Duero      Spain
1                 Brunello di Montalcino      Italy
2    Amarone della Valpolicella Classico      Italy
3                       Ribera del Duero      Spain
4                              Sauternes     France
..                                   ...        ...
545                               Barolo      Italy
546                  Châteauneuf-du-Pape     France
547                                Porto   Portugal
548                            Champagne     France
549                              Pomerol     France

[550 rows x 2 columns]

In [25]:
df_inter = df_inter.join(df3)
df_inter

,Unnamed: 0,brand,vintage,rating,price,num_ratings,location,region,country
0,0,Vega Sicilia,Unico 2010,4.8,455.00,1499,"Ribera del Duero, Spain",Ribera del Duero,Spain
1,1,Casanova di Neri,Cerretalto Brunello di Montalcino 2016,4.8,420.00,141,"Brunello di Montalcino, Italy",Brunello di Montalcino,Italy
2,2,Brunelli,Campo Inferi Amarone della Valpolicella Classi...,4.8,64.99,48,"Amarone della Valpolicella Classico, Italy",Amarone della Valpolicella Classico,Italy
3,3,Dominio de Cair,Pendón De La Aguilera 2011,4.8,219.99,45,"Ribera del Duero, Spain",Ribera del Duero,Spain
4,4,Château Gilette,Sauternes (Crème de Tête) 1997,4.8,384.99,37,"Sauternes, France",Sauternes,France
...,...,...,...,...,...,...,...,...,...
545,545,Paolo Scavino,Rocche dell'Annunziata Barolo Riserva 2013,4.4,265.00,82,"Barolo, Italy",Barolo,Italy
546,546,Domaine Julien Masquin,Châteauneuf-du-Pape Memora Rouge 2020,4.4,32.99,82,"Châteauneuf-du-Pape, France",Châteauneuf-du-Pape,France
547,547,Sandeman,Vintage Port 1994,4.4,89.99,82,"Porto, Portugal",Porto,Portugal
548,548,Pommery,Brut Cuvée Louise Rosé Champagne 2004,4.4,169.90,82,"Champagne, France",Champagne,France
549,549,Château La Conseillante,Duo de Conseillante Pomerol 2016,4.4,89.99,81,"Pomerol, France",Pomerol,France

In [26]:
df_inter = df_inter.drop("Unnamed: 0", axis=1)
df_inter

,brand,vintage,rating,price,num_ratings,location,region,country
0,Vega Sicilia,Unico 2010,4.8,455.00,1499,"Ribera del Duero, Spain",Ribera del Duero,Spain
1,Casanova di Neri,Cerretalto Brunello di Montalcino 2016,4.8,420.00,141,"Brunello di Montalcino, Italy",Brunello di Montalcino,Italy
2,Brunelli,Campo Inferi Amarone della Valpolicella Classi...,4.8,64.99,48,"Amarone della Valpolicella Classico, Italy",Amarone della Valpolicella Classico,Italy
3,Dominio de Cair,Pendón De La Aguilera 2011,4.8,219.99,45,"Ribera del Duero, Spain",Ribera del Duero,Spain
4,Château Gilette,Sauternes (Crème de Tête) 1997,4.8,384.99,37,"Sauternes, France",Sauternes,France
...,...,...,...,...,...,...,...,...
545,Paolo Scavino,Rocche dell'Annunziata Barolo Riserva 2013,4.4,265.00,82,"Barolo, Italy",Barolo,Italy
546,Domaine Julien Masquin,Châteauneuf-du-Pape Memora Rouge 2020,4.4,32.99,82,"Châteauneuf-du-Pape, France",Châteauneuf-du-Pape,France
547,Sandeman,Vintage Port 1994,4.4,89.99,82,"Porto, Portugal",Porto,Portugal
548,Pommery,Brut Cuvée Louise Rosé Champagne 2004,4.4,169.90,82,"Champagne, France",Champagne,France
549,Château La Conseillante,Duo de Conseillante Pomerol 2016,4.4,89.99,81,"Pomerol, France",Pomerol,France

In [27]:
df_inter = df_inter.drop("location", axis=1)
df_inter

,brand,vintage,rating,price,num_ratings,region,country
0,Vega Sicilia,Unico 2010,4.8,455.00,1499,Ribera del Duero,Spain
1,Casanova di Neri,Cerretalto Brunello di Montalcino 2016,4.8,420.00,141,Brunello di Montalcino,Italy
2,Brunelli,Campo Inferi Amarone della Valpolicella Classi...,4.8,64.99,48,Amarone della Valpolicella Classico,Italy
3,Dominio de Cair,Pendón De La Aguilera 2011,4.8,219.99,45,Ribera del Duero,Spain
4,Château Gilette,Sauternes (Crème de Tête) 1997,4.8,384.99,37,Sauternes,France
...,...,...,...,...,...,...,...
545,Paolo Scavino,Rocche dell'Annunziata Barolo Riserva 2013,4.4,265.00,82,Barolo,Italy
546,Domaine Julien Masquin,Châteauneuf-du-Pape Memora Rouge 2020,4.4,32.99,82,Châteauneuf-du-Pape,France
547,Sandeman,Vintage Port 1994,4.4,89.99,82,Porto,Portugal
548,Pommery,Brut Cuvée Louise Rosé Champagne 2004,4.4,169.90,82,Champagne,France
549,Château La Conseillante,Duo de Conseillante Pomerol 2016,4.4,89.99,81,Pomerol,France

In [30]:
df_usa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   brand        550 non-null    object
 1   vintage      550 non-null    object
 2   rating       550 non-null    float64
 3   price        550 non-null    float64
 4   num_ratings  550 non-null    int64
 5   region       550 non-null    object
 6   country      550 non-null    object
dtypes: float64(2), int64(1), object(4)
memory usage: 30.2+ KB

In [39]:
test = df_usa["vintage"].str.extract(r'(\w+)$')
test.info()
# https://www.appsloveworld.com/pandas/100/102/how-to-extract-last-word-from-a-column-of-a-pandas-dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       544 non-null    object
dtypes: object(1)
memory usage: 4.4+ KB

In [40]:
test = test.rename(columns={0 : "year"})
test

     year
0    2018
1    2018
2    2019
3    2018
4    2019
..    ...
545  2017
546  2009
547  2019
548  2019
549  2015

[550 rows x 1 columns]

In [41]:
df_usa = df_usa.join(test)
df_usa

,brand,vintage,rating,price,num_ratings,region,country,year
0,Adeptos,Reserve Cabernet Sauvignon 2018,4.2,32.99,84,Napa Valley,United States,2018
1,Vinium,Reserve Cabernet Sauvignon 2018,4.3,34.99,86,Napa Valley,United States,2018
2,Dolum Estates,Cask 28 Cabernet Sauvignon 2019,4.4,34.99,80,Stags Leap District,United States,2019
3,Sling & Spear,Cabernet Sauvignon 2018,4.3,44.99,110,Oakville,United States,2018
4,St. Clement,Johanna Cabernet Sauvignon 2019,4.1,24.99,163,Knights Valley,United States,2019
...,...,...,...,...,...,...,...,...
545,Foxen,Block 8 Pinot Noir (Bien Nacido Vineyard) 2017,4.4,59.90,70,Santa Maria Valley,United States,2017
546,Jonata,La Sangre de Jonata 2009,4.4,160.60,70,Ballard Canyon,United States,2009
547,Arietta,Quartet 2019,4.4,73.99,69,Napa Valley,United States,2019
548,Alpha Omega,Proprietary Red 2019,4.4,159.99,68,Napa Valley,United States,2019
549,Salvestrin,Cabernet Sauvignon Dr. Crane Vineyard Three D ...,4.4,169.99,67,St. Helena,United States,2015

In [42]:
df_usa2 = df_usa.dropna().reset_index()
df_usa2 = df_usa2.drop("index", axis = 1)
df_usa2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 544 entries, 0 to 543
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   brand        544 non-null    object
 1   vintage      544 non-null    object
 2   rating       544 non-null    float64
 3   price        544 non-null    float64
 4   num_ratings  544 non-null    int64
 5   region       544 non-null    object
 6   country      544 non-null    object
 7   year         544 non-null    object
dtypes: float64(2), int64(1), object(5)
memory usage: 34.1+ KB

In [43]:
test2 = df_inter["vintage"].str.extract(r'(\w+)$')
test2

        0
0    2010
1    2016
2    2017
3    2011
4    1997
..    ...
545  2013
546  2020
547  1994
548  2004
549  2016

[550 rows x 1 columns]

In [44]:
test2 = test2.rename(columns={0 : "year"})
test2

     year
0    2010
1    2016
2    2017
3    2011
4    1997
..    ...
545  2013
546  2020
547  1994
548  2004
549  2016

[550 rows x 1 columns]

In [45]:
df_inter = df_inter.join(test2)
df_inter

,brand,vintage,rating,price,num_ratings,region,country,year
0,Vega Sicilia,Unico 2010,4.8,455.00,1499,Ribera del Duero,Spain,2010
1,Casanova di Neri,Cerretalto Brunello di Montalcino 2016,4.8,420.00,141,Brunello di Montalcino,Italy,2016
2,Brunelli,Campo Inferi Amarone della Valpolicella Classi...,4.8,64.99,48,Amarone della Valpolicella Classico,Italy,2017
3,Dominio de Cair,Pendón De La Aguilera 2011,4.8,219.99,45,Ribera del Duero,Spain,2011
4,Château Gilette,Sauternes (Crème de Tête) 1997,4.8,384.99,37,Sauternes,France,1997
...,...,...,...,...,...,...,...,...
545,Paolo Scavino,Rocche dell'Annunziata Barolo Riserva 2013,4.4,265.00,82,Barolo,Italy,2013
546,Domaine Julien Masquin,Châteauneuf-du-Pape Memora Rouge 2020,4.4,32.99,82,Châteauneuf-du-Pape,France,2020
547,Sandeman,Vintage Port 1994,4.4,89.99,82,Porto,Portugal,1994
548,Pommery,Brut Cuvée Louise Rosé Champagne 2004,4.4,169.90,82,Champagne,France,2004
549,Château La Conseillante,Duo de Conseillante Pomerol 2016,4.4,89.99,81,Pomerol,France,2016

In [46]:
df_inter2 = df_inter.dropna().reset_index()
df_inter2 = df_inter2.drop("index", axis = 1)
df_inter2

,brand,vintage,rating,price,num_ratings,region,country,year
0,Vega Sicilia,Unico 2010,4.8,455.00,1499,Ribera del Duero,Spain,2010
1,Casanova di Neri,Cerretalto Brunello di Montalcino 2016,4.8,420.00,141,Brunello di Montalcino,Italy,2016
2,Brunelli,Campo Inferi Amarone della Valpolicella Classi...,4.8,64.99,48,Amarone della Valpolicella Classico,Italy,2017
3,Dominio de Cair,Pendón De La Aguilera 2011,4.8,219.99,45,Ribera del Duero,Spain,2011
4,Château Gilette,Sauternes (Crème de Tête) 1997,4.8,384.99,37,Sauternes,France,1997
...,...,...,...,...,...,...,...,...
516,Paolo Scavino,Rocche dell'Annunziata Barolo Riserva 2013,4.4,265.00,82,Barolo,Italy,2013
517,Domaine Julien Masquin,Châteauneuf-du-Pape Memora Rouge 2020,4.4,32.99,82,Châteauneuf-du-Pape,France,2020
518,Sandeman,Vintage Port 1994,4.4,89.99,82,Porto,Portugal,1994
519,Pommery,Brut Cuvée Louise Rosé Champagne 2004,4.4,169.90,82,Champagne,France,2004
520,Château La Conseillante,Duo de Conseillante Pomerol 2016,4.4,89.99,81,Pomerol,France,2016

In [48]:
df_usa2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 544 entries, 0 to 543
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   brand        544 non-null    object
 1   vintage      544 non-null    object
 2   rating       544 non-null    float64
 3   price        544 non-null    float64
 4   num_ratings  544 non-null    int64
 5   region       544 non-null    object
 6   country      544 non-null    object
 7   year         544 non-null    object
dtypes: float64(2), int64(1), object(5)
memory usage: 34.1+ KB

In [49]:
df_inter2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 521 entries, 0 to 520
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   brand        521 non-null    object
 1   vintage      521 non-null    object
 2   rating       521 non-null    float64
 3   price        521 non-null    float64
 4   num_ratings  521 non-null    int64
 5   region       521 non-null    object
 6   country      521 non-null    object
 7   year         521 non-null    object
dtypes: float64(2), int64(1), object(5)
memory usage: 32.7+ KB

In [52]:
df_main = pd.concat([df_usa2,df_inter2]).reset_index(drop=True)
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1065 entries, 0 to 1064
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   brand        1065 non-null   object
 1   vintage      1065 non-null   object
 2   rating       1065 non-null   float64
 3   price        1065 non-null   float64
 4   num_ratings  1065 non-null   int64
 5   region       1065 non-null   object
 6   country      1065 non-null   object
 7   year         1065 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 66.7+ KB

In [61]:
df_main["year"] = df_main["year"].astype(int)
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1065 entries, 0 to 1064
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   brand        1065 non-null   object
 1   vintage      1065 non-null   object
 2   rating       1065 non-null   float64
 3   price        1065 non-null   float64
 4   num_ratings  1065 non-null   int64
 5   region       1065 non-null   object
 6   country      1065 non-null   object
 7   year         1065 non-null   int32
 8   vintage2     1065 non-null   object
dtypes: float64(2), int32(1), int64(1), object(5)
memory usage: 70.8+ KB

In [60]:
vint = df_main["vintage"].str[:-5]
vint.info()

<class 'pandas.core.series.Series'>
RangeIndex: 1065 entries, 0 to 1064
Series name: vintage
Non-Null Count  Dtype
--------------  -----
1065 non-null   object
dtypes: object(1)
memory usage: 8.4+ KB

In [57]:
df_main["vintage2"] = vint
df_main

,brand,vintage,rating,price,num_ratings,region,country,year,vintage2
0,Adeptos,Reserve Cabernet Sauvignon 2018,4.2,32.99,84,Napa Valley,United States,2018,Reserve Cabernet Sauvignon
1,Vinium,Reserve Cabernet Sauvignon 2018,4.3,34.99,86,Napa Valley,United States,2018,Reserve Cabernet Sauvignon
2,Dolum Estates,Cask 28 Cabernet Sauvignon 2019,4.4,34.99,80,Stags Leap District,United States,2019,Cask 28 Cabernet Sauvignon
3,Sling & Spear,Cabernet Sauvignon 2018,4.3,44.99,110,Oakville,United States,2018,Cabernet Sauvignon
4,St. Clement,Johanna Cabernet Sauvignon 2019,4.1,24.99,163,Knights Valley,United States,2019,Johanna Cabernet Sauvignon
...,...,...,...,...,...,...,...,...,...
1060,Paolo Scavino,Rocche dell'Annunziata Barolo Riserva 2013,4.4,265.00,82,Barolo,Italy,2013,Rocche dell'Annunziata Barolo Riserva
1061,Domaine Julien Masquin,Châteauneuf-du-Pape Memora Rouge 2020,4.4,32.99,82,Châteauneuf-du-Pape,France,2020,Châteauneuf-du-Pape Memora Rouge
1062,Sandeman,Vintage Port 1994,4.4,89.99,82,Porto,Portugal,1994,Vintage Port
1063,Pommery,Brut Cuvée Louise Rosé Champagne 2004,4.4,169.90,82,Champagne,France,2004,Brut Cuvée Louise Rosé Champagne
1064,Château La Conseillante,Duo de Conseillante Pomerol 2016,4.4,89.99,81,Pomerol,France,2016,Duo de Conseillante Pomerol

In [58]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1065 entries, 0 to 1064
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   brand        1065 non-null   object
 1   vintage      1065 non-null   object
 2   rating       1065 non-null   float64
 3   price        1065 non-null   float64
 4   num_ratings  1065 non-null   int64
 5   region       1065 non-null   object
 6   country      1065 non-null   object
 7   year         1065 non-null   object
 8   vintage2     1065 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 75.0+ KB

In [65]:
brands = df_main.brand.unique()
print(len(brands))

553

In [72]:
count = len(max(brands, key = len))
print(count)

46

In [66]:
vintages = df_main.vintage2.unique()
print(len(vintages))

639

In [73]:
count = len(max(vintages, key = len))
print(count)

68

In [67]:
regions = df_main.region.unique()
print(len(regions))

172

In [74]:
count = len(max(regions, key = len))
print(count)

52

In [68]:
countries = df_main.country.unique()
print(len(countries))

9

In [75]:
count = len(max(countries, key = len))
print(count)

14