In [1]:
import pandas as pd

In [2]:
# The path to our CSV file
file = "us_wines.csv"
# Read our Crowdfunding data into pandas
df_usa = pd.read_csv(file)

df_usa.head()

,Unnamed: 0,brand,vintage,rating,price,num_ratings,location
0,0,Adeptos,Reserve Cabernet Sauvignon 2018,4.2,32.99,84,"Napa Valley, United States"
1,1,Vinium,Reserve Cabernet Sauvignon 2018,4.3,34.99,86,"Napa Valley, United States"
2,2,Dolum Estates,Cask 28 Cabernet Sauvignon 2019,4.4,34.99,80,"Stags Leap District, United States"
3,3,Sling & Spear,Cabernet Sauvignon 2018,4.3,44.99,110,"Oakville, United States"
4,4,St. Clement,Johanna Cabernet Sauvignon 2019,4.1,24.99,163,"Knights Valley, United States"

In [3]:
# The path to our CSV file
file = "non_us_wines.csv"
# Read our Crowdfunding data into pandas
df_inter = pd.read_csv(file)

df_inter.head()

,Unnamed: 0,brand,vintage,rating,price,num_ratings,location
0,0,Vega Sicilia,Unico 2010,4.8,455.00,1499,"Ribera del Duero, Spain"
1,1,Casanova di Neri,Cerretalto Brunello di Montalcino 2016,4.8,420.00,141,"Brunello di Montalcino, Italy"
2,2,Brunelli,Campo Inferi Amarone della Valpolicella Classi...,4.8,64.99,48,"Amarone della Valpolicella Classico, Italy"
3,3,Dominio de Cair,Pendón De La Aguilera 2011,4.8,219.99,45,"Ribera del Duero, Spain"
4,4,Château Gilette,Sauternes (Crème de Tête) 1997,4.8,384.99,37,"Sauternes, France"

In [4]:
df2 = df_usa
df2 = df2['location'].str.split(',', expand=True)

In [5]:
df2

                       0               1
0            Napa Valley   United States
1            Napa Valley   United States
2    Stags Leap District   United States
3               Oakville   United States
4         Knights Valley   United States
..                   ...             ...
545   Santa Maria Valley   United States
546       Ballard Canyon   United States
547          Napa Valley   United States
548          Napa Valley   United States
549           St. Helena   United States

[550 rows x 2 columns]

In [6]:
df2 = df2.rename(columns={0 : "region", 1 : "country"})
df2

                  region         country
0            Napa Valley   United States
1            Napa Valley   United States
2    Stags Leap District   United States
3               Oakville   United States
4         Knights Valley   United States
..                   ...             ...
545   Santa Maria Valley   United States
546       Ballard Canyon   United States
547          Napa Valley   United States
548          Napa Valley   United States
549           St. Helena   United States

[550 rows x 2 columns]

In [7]:
df_usa = df_usa.join(df2)
df_usa

,Unnamed: 0,brand,vintage,rating,price,num_ratings,location,region,country
0,0,Adeptos,Reserve Cabernet Sauvignon 2018,4.2,32.99,84,"Napa Valley, United States",Napa Valley,United States
1,1,Vinium,Reserve Cabernet Sauvignon 2018,4.3,34.99,86,"Napa Valley, United States",Napa Valley,United States
2,2,Dolum Estates,Cask 28 Cabernet Sauvignon 2019,4.4,34.99,80,"Stags Leap District, United States",Stags Leap District,United States
3,3,Sling & Spear,Cabernet Sauvignon 2018,4.3,44.99,110,"Oakville, United States",Oakville,United States
4,4,St. Clement,Johanna Cabernet Sauvignon 2019,4.1,24.99,163,"Knights Valley, United States",Knights Valley,United States
...,...,...,...,...,...,...,...,...,...
545,545,Foxen,Block 8 Pinot Noir (Bien Nacido Vineyard) 2017,4.4,59.90,70,"Santa Maria Valley, United States",Santa Maria Valley,United States
546,546,Jonata,La Sangre de Jonata 2009,4.4,160.60,70,"Ballard Canyon, United States",Ballard Canyon,United States
547,547,Arietta,Quartet 2019,4.4,73.99,69,"Napa Valley, United States",Napa Valley,United States
548,548,Alpha Omega,Proprietary Red 2019,4.4,159.99,68,"Napa Valley, United States",Napa Valley,United States
549,549,Salvestrin,Cabernet Sauvignon Dr. Crane Vineyard Three D ...,4.4,169.99,67,"St. Helena, United States",St. Helena,United States

In [8]:
df_usa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   550 non-null    int64
 1   brand        550 non-null    object
 2   vintage      550 non-null    object
 3   rating       550 non-null    float64
 4   price        550 non-null    float64
 5   num_ratings  550 non-null    int64
 6   location     550 non-null    object
 7   region       550 non-null    object
 8   country      550 non-null    object
dtypes: float64(2), int64(2), object(5)
memory usage: 38.8+ KB

In [9]:
df_usa = df_usa.drop("location", axis=1)
df_usa

,Unnamed: 0,brand,vintage,rating,price,num_ratings,region,country
0,0,Adeptos,Reserve Cabernet Sauvignon 2018,4.2,32.99,84,Napa Valley,United States
1,1,Vinium,Reserve Cabernet Sauvignon 2018,4.3,34.99,86,Napa Valley,United States
2,2,Dolum Estates,Cask 28 Cabernet Sauvignon 2019,4.4,34.99,80,Stags Leap District,United States
3,3,Sling & Spear,Cabernet Sauvignon 2018,4.3,44.99,110,Oakville,United States
4,4,St. Clement,Johanna Cabernet Sauvignon 2019,4.1,24.99,163,Knights Valley,United States
...,...,...,...,...,...,...,...,...
545,545,Foxen,Block 8 Pinot Noir (Bien Nacido Vineyard) 2017,4.4,59.90,70,Santa Maria Valley,United States
546,546,Jonata,La Sangre de Jonata 2009,4.4,160.60,70,Ballard Canyon,United States
547,547,Arietta,Quartet 2019,4.4,73.99,69,Napa Valley,United States
548,548,Alpha Omega,Proprietary Red 2019,4.4,159.99,68,Napa Valley,United States
549,549,Salvestrin,Cabernet Sauvignon Dr. Crane Vineyard Three D ...,4.4,169.99,67,St. Helena,United States

In [10]:
df_usa = df_usa.drop("Unnamed: 0", axis=1)
df_usa

,brand,vintage,rating,price,num_ratings,region,country
0,Adeptos,Reserve Cabernet Sauvignon 2018,4.2,32.99,84,Napa Valley,United States
1,Vinium,Reserve Cabernet Sauvignon 2018,4.3,34.99,86,Napa Valley,United States
2,Dolum Estates,Cask 28 Cabernet Sauvignon 2019,4.4,34.99,80,Stags Leap District,United States
3,Sling & Spear,Cabernet Sauvignon 2018,4.3,44.99,110,Oakville,United States
4,St. Clement,Johanna Cabernet Sauvignon 2019,4.1,24.99,163,Knights Valley,United States
...,...,...,...,...,...,...,...
545,Foxen,Block 8 Pinot Noir (Bien Nacido Vineyard) 2017,4.4,59.90,70,Santa Maria Valley,United States
546,Jonata,La Sangre de Jonata 2009,4.4,160.60,70,Ballard Canyon,United States
547,Arietta,Quartet 2019,4.4,73.99,69,Napa Valley,United States
548,Alpha Omega,Proprietary Red 2019,4.4,159.99,68,Napa Valley,United States
549,Salvestrin,Cabernet Sauvignon Dr. Crane Vineyard Three D ...,4.4,169.99,67,St. Helena,United States

In [11]:
df3 = df_inter
df3 = df3['location'].str.split(',', expand=True)
df3

                                       0          1
0                       Ribera del Duero      Spain
1                 Brunello di Montalcino      Italy
2    Amarone della Valpolicella Classico      Italy
3                       Ribera del Duero      Spain
4                              Sauternes     France
..                                   ...        ...
545                               Barolo      Italy
546                  Châteauneuf-du-Pape     France
547                                Porto   Portugal
548                            Champagne     France
549                              Pomerol     France

[550 rows x 2 columns]

In [12]:
df3 = df3.rename(columns={0 : "region", 1 : "country"})
df3

                                  region    country
0                       Ribera del Duero      Spain
1                 Brunello di Montalcino      Italy
2    Amarone della Valpolicella Classico      Italy
3                       Ribera del Duero      Spain
4                              Sauternes     France
..                                   ...        ...
545                               Barolo      Italy
546                  Châteauneuf-du-Pape     France
547                                Porto   Portugal
548                            Champagne     France
549                              Pomerol     France

[550 rows x 2 columns]

In [13]:
df_inter = df_inter.join(df3)
df_inter

,Unnamed: 0,brand,vintage,rating,price,num_ratings,location,region,country
0,0,Vega Sicilia,Unico 2010,4.8,455.00,1499,"Ribera del Duero, Spain",Ribera del Duero,Spain
1,1,Casanova di Neri,Cerretalto Brunello di Montalcino 2016,4.8,420.00,141,"Brunello di Montalcino, Italy",Brunello di Montalcino,Italy
2,2,Brunelli,Campo Inferi Amarone della Valpolicella Classi...,4.8,64.99,48,"Amarone della Valpolicella Classico, Italy",Amarone della Valpolicella Classico,Italy
3,3,Dominio de Cair,Pendón De La Aguilera 2011,4.8,219.99,45,"Ribera del Duero, Spain",Ribera del Duero,Spain
4,4,Château Gilette,Sauternes (Crème de Tête) 1997,4.8,384.99,37,"Sauternes, France",Sauternes,France
...,...,...,...,...,...,...,...,...,...
545,545,Paolo Scavino,Rocche dell'Annunziata Barolo Riserva 2013,4.4,265.00,82,"Barolo, Italy",Barolo,Italy
546,546,Domaine Julien Masquin,Châteauneuf-du-Pape Memora Rouge 2020,4.4,32.99,82,"Châteauneuf-du-Pape, France",Châteauneuf-du-Pape,France
547,547,Sandeman,Vintage Port 1994,4.4,89.99,82,"Porto, Portugal",Porto,Portugal
548,548,Pommery,Brut Cuvée Louise Rosé Champagne 2004,4.4,169.90,82,"Champagne, France",Champagne,France
549,549,Château La Conseillante,Duo de Conseillante Pomerol 2016,4.4,89.99,81,"Pomerol, France",Pomerol,France

In [14]:
df_inter = df_inter.drop("Unnamed: 0", axis=1)
df_inter

,brand,vintage,rating,price,num_ratings,location,region,country
0,Vega Sicilia,Unico 2010,4.8,455.00,1499,"Ribera del Duero, Spain",Ribera del Duero,Spain
1,Casanova di Neri,Cerretalto Brunello di Montalcino 2016,4.8,420.00,141,"Brunello di Montalcino, Italy",Brunello di Montalcino,Italy
2,Brunelli,Campo Inferi Amarone della Valpolicella Classi...,4.8,64.99,48,"Amarone della Valpolicella Classico, Italy",Amarone della Valpolicella Classico,Italy
3,Dominio de Cair,Pendón De La Aguilera 2011,4.8,219.99,45,"Ribera del Duero, Spain",Ribera del Duero,Spain
4,Château Gilette,Sauternes (Crème de Tête) 1997,4.8,384.99,37,"Sauternes, France",Sauternes,France
...,...,...,...,...,...,...,...,...
545,Paolo Scavino,Rocche dell'Annunziata Barolo Riserva 2013,4.4,265.00,82,"Barolo, Italy",Barolo,Italy
546,Domaine Julien Masquin,Châteauneuf-du-Pape Memora Rouge 2020,4.4,32.99,82,"Châteauneuf-du-Pape, France",Châteauneuf-du-Pape,France
547,Sandeman,Vintage Port 1994,4.4,89.99,82,"Porto, Portugal",Porto,Portugal
548,Pommery,Brut Cuvée Louise Rosé Champagne 2004,4.4,169.90,82,"Champagne, France",Champagne,France
549,Château La Conseillante,Duo de Conseillante Pomerol 2016,4.4,89.99,81,"Pomerol, France",Pomerol,France

In [15]:
df_inter = df_inter.drop("location", axis=1)
df_inter

,brand,vintage,rating,price,num_ratings,region,country
0,Vega Sicilia,Unico 2010,4.8,455.00,1499,Ribera del Duero,Spain
1,Casanova di Neri,Cerretalto Brunello di Montalcino 2016,4.8,420.00,141,Brunello di Montalcino,Italy
2,Brunelli,Campo Inferi Amarone della Valpolicella Classi...,4.8,64.99,48,Amarone della Valpolicella Classico,Italy
3,Dominio de Cair,Pendón De La Aguilera 2011,4.8,219.99,45,Ribera del Duero,Spain
4,Château Gilette,Sauternes (Crème de Tête) 1997,4.8,384.99,37,Sauternes,France
...,...,...,...,...,...,...,...
545,Paolo Scavino,Rocche dell'Annunziata Barolo Riserva 2013,4.4,265.00,82,Barolo,Italy
546,Domaine Julien Masquin,Châteauneuf-du-Pape Memora Rouge 2020,4.4,32.99,82,Châteauneuf-du-Pape,France
547,Sandeman,Vintage Port 1994,4.4,89.99,82,Porto,Portugal
548,Pommery,Brut Cuvée Louise Rosé Champagne 2004,4.4,169.90,82,Champagne,France
549,Château La Conseillante,Duo de Conseillante Pomerol 2016,4.4,89.99,81,Pomerol,France

In [16]:
test = df_usa["vintage"].str.extract(r'(\w+)$')
test

        0
0    2018
1    2018
2    2019
3    2018
4    2019
..    ...
545  2017
546  2009
547  2019
548  2019
549  2015

[550 rows x 1 columns]

In [17]:
test = test.rename(columns={0 : "year"})
test

     year
0    2018
1    2018
2    2019
3    2018
4    2019
..    ...
545  2017
546  2009
547  2019
548  2019
549  2015

[550 rows x 1 columns]

In [18]:
df_usa = df_usa.join(test)
df_usa

,brand,vintage,rating,price,num_ratings,region,country,year
0,Adeptos,Reserve Cabernet Sauvignon 2018,4.2,32.99,84,Napa Valley,United States,2018
1,Vinium,Reserve Cabernet Sauvignon 2018,4.3,34.99,86,Napa Valley,United States,2018
2,Dolum Estates,Cask 28 Cabernet Sauvignon 2019,4.4,34.99,80,Stags Leap District,United States,2019
3,Sling & Spear,Cabernet Sauvignon 2018,4.3,44.99,110,Oakville,United States,2018
4,St. Clement,Johanna Cabernet Sauvignon 2019,4.1,24.99,163,Knights Valley,United States,2019
...,...,...,...,...,...,...,...,...
545,Foxen,Block 8 Pinot Noir (Bien Nacido Vineyard) 2017,4.4,59.90,70,Santa Maria Valley,United States,2017
546,Jonata,La Sangre de Jonata 2009,4.4,160.60,70,Ballard Canyon,United States,2009
547,Arietta,Quartet 2019,4.4,73.99,69,Napa Valley,United States,2019
548,Alpha Omega,Proprietary Red 2019,4.4,159.99,68,Napa Valley,United States,2019
549,Salvestrin,Cabernet Sauvignon Dr. Crane Vineyard Three D ...,4.4,169.99,67,St. Helena,United States,2015

In [22]:
df_usa.vintage.value_counts()

Cabernet Sauvignon 2018                                    21
Cabernet Sauvignon 2019                                    17
Cabernet Sauvignon 2017                                    15
Cabernet Sauvignon 2016                                    10
Cabernet Sauvignon 2020                                     6
                                                           ..
Three Graces Red Blend 2015                                 1
Martha's Vineyard Cabernet Sauvignon 2015                   1
CASK 23 Cabernet Sauvignon 2018                             1
Les Pavots 2007                                             1
Cabernet Sauvignon Dr. Crane Vineyard Three D (3D) 2015     1
Name: vintage, Length: 451, dtype: int64

In [19]:
test2 = df_inter["vintage"].str.extract(r'(\w+)$')
test2

        0
0    2010
1    2016
2    2017
3    2011
4    1997
..    ...
545  2013
546  2020
547  1994
548  2004
549  2016

[550 rows x 1 columns]

In [20]:
test2 = test2.rename(columns={0 : "year"})
test2

     year
0    2010
1    2016
2    2017
3    2011
4    1997
..    ...
545  2013
546  2020
547  1994
548  2004
549  2016

[550 rows x 1 columns]

In [21]:
df_inter = df_inter.join(test)
df_inter

,brand,vintage,rating,price,num_ratings,region,country,year
0,Vega Sicilia,Unico 2010,4.8,455.00,1499,Ribera del Duero,Spain,2018
1,Casanova di Neri,Cerretalto Brunello di Montalcino 2016,4.8,420.00,141,Brunello di Montalcino,Italy,2018
2,Brunelli,Campo Inferi Amarone della Valpolicella Classi...,4.8,64.99,48,Amarone della Valpolicella Classico,Italy,2019
3,Dominio de Cair,Pendón De La Aguilera 2011,4.8,219.99,45,Ribera del Duero,Spain,2018
4,Château Gilette,Sauternes (Crème de Tête) 1997,4.8,384.99,37,Sauternes,France,2019
...,...,...,...,...,...,...,...,...
545,Paolo Scavino,Rocche dell'Annunziata Barolo Riserva 2013,4.4,265.00,82,Barolo,Italy,2017
546,Domaine Julien Masquin,Châteauneuf-du-Pape Memora Rouge 2020,4.4,32.99,82,Châteauneuf-du-Pape,France,2009
547,Sandeman,Vintage Port 1994,4.4,89.99,82,Porto,Portugal,2019
548,Pommery,Brut Cuvée Louise Rosé Champagne 2004,4.4,169.90,82,Champagne,France,2019
549,Château La Conseillante,Duo de Conseillante Pomerol 2016,4.4,89.99,81,Pomerol,France,2015